:root {
  --button-font-color: black;
  --button-hover-color: black;
  --button-disabled-color: black;
  --button-shadow: rgba(15, 7, 3, 0.5);
}

/* Base button styling for all button types */
.button-base, .factorio-btn-base {
  position: relative;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--button-font-color);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  min-width: 108px;
  min-height: 28px;
  padding: 0 8px;
  border: 5px solid transparent;
  background: transparent;
  box-sizing: border-box;
  line-height: 28px;
  border-image: url('/graphics/button.png') 8 fill / 5px stretch;
}

/* Normal button variant */
.factorio-btn-normal {
  border-image-source: url('/graphics/button.png');
}

.factorio-btn-normal:hover:not(:disabled):not(:active):not(.clicked) {
  border-image-source: url('/graphics/button_hovered.png');
  filter: drop-shadow(0 0 2px #f9b44b);
  box-shadow: inset 0px 0px 4px 2px #f9b44b;
  transition: all 0.1s ease-in-out;
}

.factorio-btn-normal:active:not(:disabled) {
  border-image-source: url('/graphics/button_clicked.png');
}

.factorio-btn-normal.clicked {
  border-image-source: url('/graphics/button_clicked.png');
}

.factorio-btn-normal.clicked:hover {
  filter: none;
}

/* Green button variant */
.factorio-btn-green {
  border-image-source: url('/graphics/green_button.png');
  font-size: 30px;

  font-weight: 800;
  min-width: 120px;
  min-height: 64px;
  line-height: 36px;
  border-width: 5px;
}

.factorio-btn-green:hover:not(:disabled):not(:active):not(.clicked) {
  border-image-source: url('/graphics/green_button_hovered.png');
  filter: drop-shadow(0 0 5px #34be3c);
  transition: all 0.1s ease-in-out;
}

.factorio-btn-green:active:not(:disabled) {
  border-image-source: url('/graphics/green_button_clicked.png');
}

.factorio-btn-green.clicked {
  border-image-source: url('/graphics/green_button_clicked.png');
}

.factorio-btn-green.clicked:hover {
  filter: none;
}

.factorio-btn-green:disabled {
  color: black;
}

/* Frame button styling - preserving original implementation */

.factorio-frame-button {
  position: relative;
  background-color: transparent;
  border: 5px solid transparent;
  border-image-source: url('/graphics/frame_button.png');
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 5px;
  border-image-repeat: stretch;
  border-image-outset: 0;
  padding: 0 8px;
  min-width: 108px;
  min-height: 28px;
  width: auto;
  height: 28px;
  color: var(--button-font-color);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(15, 7, 3, 0.5);
  filter: none;
  z-index: 1;
  width: 30px;
  height: 30px;  
  min-width: 30px;
  min-height: 30px;  
}

.factorio-frame-button:hover:not(:disabled):not(:active) {
  border-image-source: url('/graphics/button_hovered.png');
  box-shadow: 2px 2px 5px rgba(15, 7, 3, 1), 0 0 6px rgba(225, 177, 106, 0.6);
  transition: all 0.1s ease-in-out;  
}

.factorio-frame-button:active:not(:disabled) {
  border-image-source: url('/graphics/frame_button_clicked.png');
}


/* Listbox item button styling */
.factorio-listbox-item {
  position: relative;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #e2e2e2;
  cursor: pointer;
  text-align: left;
  min-width: 108px;
  min-height: 28px;
  padding: 0 8px;
  border: 5px solid transparent;
  background: transparent;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  border-image: url('/graphics/listbox_item.png') 8 fill / 5px stretch;
  filter: none;
  margin: 0;
}

.factorio-listbox-item:hover:not(:disabled):not(.selected) {
  border-image-source: url('/graphics/listbox_item_hovered.png');
  filter: brightness(1.1) saturate(1.1);
  transition: all 0.1s ease-in-out;
}

.factorio-listbox-item:active:not(:disabled):not(.selected) {
  border-image-source: url('/graphics/listbox_item_clicked.png');
}

.factorio-listbox-item:hover:active:not(:disabled):not(.selected) {
  border-image-source: url('/graphics/listbox_item_clicked.png');
}

.factorio-listbox-item.selected {
  border-image-source: url('/graphics/listbox_item_clicked.png');
  color: black;
}

.factorio-listbox-item.selected:hover {
  border-image-source: url('/graphics/listbox_item_clicked.png');
  color: black;
  filter: none;
}

.factorio-listbox-item.clicked {
  border-image-source: url('/graphics/listbox_item_clicked.png');
  color: black;
}

.factorio-listbox-item.clicked:hover {
  filter: none;
}

.factorio-listbox-item:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.factorio-listbox-item.full-width {
  width: 100%;
}

/* Frame button shadow overlay */
.frame-button-shadow {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  border-image-source: url('/graphics/frame_button_shadow.png');
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 5px;
  border-image-repeat: stretch;
  border-image-outset: 0;
  border-radius: 0;
  box-sizing: border-box;
}

/* Disabled states */
.button-base:disabled, .factorio-btn-base:disabled,.factorio-frame-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Selected states */
.button-base.selected, .factorio-btn-base.selected {
  border-image-source: url('/graphics/button_hovered.png');
}

.factorio-btn-green.selected {
  border-image-source: url('/graphics/green_button_hovered.png');
}

/* Clicked states */
.button-base.clicked, .factorio-btn-base.clicked {
  border-image-source: url('/graphics/button_clicked.png');
}

.button-base.clicked:hover, .factorio-btn-base.clicked:hover {
  filter: none;
}

.button-base.full-width, .factorio-btn-base.full-width {
  width: 100%;
}